@{
    ViewBag.Title = "Home Page";
}
    <div class="containerTit">
        <div class="title-container">
            Добро пожаловать!
        </div>
    </div>

    <div class="Book-container">
        <div class="list-container">
            Мы рады видеть вас на нашем сайте - библиотеке. Здесь вы можете найти желаемую книгу по автору или жанру, узнать о ней больше, скачать в электронном ввиде и поделиться со всеми своими эмоциями от прочтения книги!
        </div>
    </div>
